@import "tailwindcss";

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary: #1d4ed8;
  --primary-dark: #1e3a8a;
  --primary-light: #3b82f6;
  --accent: #0ea5e9;

  --background: #f8fafc;
  --background-card: #ffffff;
  --background-hover: #f1f5f9;

  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #64748b;

  --border: #e2e8f0;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #172138;
    --background-card: #1e293b;
    --background-hover: #334155;

    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;

    --border: #475569;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans), serif;
  line-height: 1.5;
}

@theme inline {
  --color-primary: #1d4ed8;
  --color-primary-dark: #1e3a8a;
  --color-primary-light: #3b82f6;
  --color-accent: #0ea5e9;

  --color-background: #f8fafc;
  --color-background-card: #ffffff;
  --color-background-hover: #f1f5f9;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --font-sans: "Geist", system-ui, sans-serif;
  --font-mono: "Geist Mono", monospace;
}
