version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE_URL=http://api:4000/api
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - app-network

  api:
    build:
      context: ../pipelore-backend-fastify
      dockerfile: Dockerfile
    container_name: pipelore-backend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
    volumes:
      - sqlite-data:/app/prisma
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
volumes:
  sqlite-data: